<?php
self::$meta->title('Расписание сотрудников');
self::$meta->description('Расписание сотрудников');
self::$meta->keyword('');
?>
<div class="container">
  <h1>Расписание сотрудников</h1>
  <div class="toolbar">
    <div class="picktime">
      Pick a time period: <input type="text" name="date">
    </div>
    <div class="timeline">
      <div class="header"></div>
      <div class="times"></div>
    </div>
  </div>
</div>
