.container {
  width:1000px;
  margin:0px auto;
}
.container > h1 {
  text-align:center;
  font-size:21px;
  font-weight:100;
}
.container > .toolbar {
}
.container > .toolbar > .picktime {
  display:inline-block;
}
.container > .toolbar > .picktime > [name=date] {
  display:inline-block;
  border:1px solid #ccc;
  padding:5px 15px;
  width:250px;
  text-align:center;
}
.timeline {
  margin-top:15px;
  border:1px solid #ccc;
  position:relative;
}
.timeline > .header {
  display:inline-block;
}
.timeline > .header > .line {
  border-bottom:1px solid #eee;
}
.timeline > .header > .line:last-child {
  border:0px;
}
.timeline > .header > .lineHeader > .employee,.timeline > .header > .lineHeader > .restaurant {
  display:inline-block;
  padding:12px 12px;
  border-right:1px solid #eee;
  width:130px;
  font-size:11px;
  background:#F7F7F7;
  font-weight:bold;
}
.timeline > .header > .line > .employee,.timeline > .header > .line > .restaurant {
  display:inline-block;
  padding:6px 12px;
  border-right:1px solid #eee;
  width:130px;
  font-size:11px;
}
.timeline > .times {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:260px;
}
.timeline > .times > .line {
  border-bottom:1px solid #eee;
  height:28px;
}
.timeline > .times > .line:last-child {
  border-bottom:1px solid #ccc;
}
.timeline > .times > .lineHeader {
  height:39px;
  background:#F7F7F7;
}
.timeline > .times > .line > .hour {
  display:inline-block;
  border-right:1px solid #eee;
  width:14.75px;
  height:27px;
}
.timeline > .times > .line > .hour:last-child {
  border-right:0px;
}
.timeline > .times > .lineHeader > .days {
  height:19.5px;
}
.timeline > .times > .lineHeader > .days > .day {
  display:inline-block;
  vertical-align:top;
  width:354px;
  border-right:1px solid #eee;
  padding:0px 6px;
  font-size:10px;
  line-height:19.5px;
  color:#555;
}
.timeline > .times > .lineHeader > .hours {
  height:19.5px;
}
.timeline > .times > .lineHeader > .hours > .hour {
  display:inline-block;
  font-size:8px;
  width:14.75px;
  text-align:center;
  border-right:1px solid #eee;
  border-top:1px solid #eee;
  height:19.5px;
  line-height:19.5px;
  vertical-align:top;
  color:#555;
}
.timeline > .times > .lineHeader > .hours > .hour:last-child {
  border-right:0px;
}
